[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[user]
	name = CShanyinde
	email = 77004560+CShanyinde@users.noreply.github.com
